@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

@theme {
    --font-bangers:"Bangers", system-ui;
    --font-roboto: "Roboto", sans-serif;
    --font-poppins:"Poppins", sans-serif;
}